body{
    background-color: #e39dce; /*sets background colour of the main body of the page*/
}

h1{
    color: whitesmoke; /*sets the colour of the header text*/
    text-align: center; /*aligns the text to the center of the page*/
}

p{
    font-family: monospace; /*chooses the font family to be used in the main paragraph text*/
    font-size: 20px; 
}