body{
    background-color: rgba(277,157,206,0.6); /*sets background colour of the main body of the page, 60% opacity is also added to make the next more read able*/
}

h1{
    color: whitesmoke; /*sets the colour of the header text*/
    text-align: center; /*aligns the text to the center of the page*/
    font-family: monospace;
}

h2{
    color: whitesmoke;
    text-align: center;
    font-family: monospace;
    margin: auto;
}

p{
    font-family: monospace; /*chooses the font family to be used in the main paragraph text*/
    font-size: 20px; 
    text-align: center; 
}

img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none; /*removes yucky underline from links*/
}

.hobbies{
    text-align: center;
    height: fit-content; /*sets the height of the hobbies div to fit whatever is needed to keep a width of 800 pixels*/
    width: 80%;
    margin: auto;
}

.music{
    text-align: center;
    height: fit-content; 
    width: 50%; /*centers the images on the page properly*/
    margin: auto;
}

.row{
    display: flex; /*uses flex to aling 3 images horizonally on the same plane*/
}

.column{
    object-fit: contain;
    flex: 33.3%;
    max-width: 400px; /*shirnks to fit the space just below the text*/
    max-height: 100%;
    padding: 25px; /*extra padding looks better apparently :shrug:*/
    width: 50%;
    margin: auto;
}

.button{ /*adds and styles a button for changing pages, this button is a pill button */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 0.25em;
    text-align: center;
    font-size: 16px;
    cursor: pointer; /*changes cursor to a pointer when mousing over the button*/
    border-radius: 16px; /*rounds out the corners of the button to make it less scary*/
    height: 25px;
    width: 150px;
    margin: 0 auto; /*centers the button*/
}

.main{
    margin: auto;
    width: 50%;
    padding: 10px;
}